// * ====================================================================================================
// * MEDIA QUERIES (Миксин для медиазапросов)
// * ====================================================================================================

@mixin media($width, $type: max) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);

    @if $type == max {
      $width: $width - 0.02px;
    }

    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

// Брейкпоинты для медиазапросов ====================================================================================================
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  // huge-desktop: 1600px,
);

// Максимальная ширина контейнера ====================================================================================================
$max-width-container: 1320px;

// Минимальная ширина страницы ====================================================================================================
$min-width-container: 320px;

// Отступ у контейнера ====================================================================================================
$container-padding: 30px;

// Отступ у колонок ====================================================================================================
$grid-gap: 30px;

// .container ====================================================================================================
.container {
  width: 100%;
  max-width: $max-width-container;
  margin: 0 auto;
  padding: 0 calc($container-padding / 2);

  // @include media(huge-desktop) {
  //   max-width: 1320px;
  // }

  @include media(xxl) {
    max-width: 1140px;
  }

  @include media(xl) {
    max-width: 960px;
  }

  @include media(lg) {
    max-width: 720px;
  }

  @include media(md) {
    max-width: 540px;
  }
}
